* {
  padding: 0;
  margin: 0;
}
/* Carousel */
#carousel-img {
  object-fit: cover;
  object-position: center;
  height: 80vh;
  overflow: hidden;
  filter: grayscale(0.5);
}
/*Study*/
.study-img {
  object-fit: cover;

  max-height: 60vh;

  overflow: hidden;
  filter: grayscale(0.5);
}

/* About */
.bg-half {
  background: linear-gradient(to top, #00dbd0 50%, #ffff 50%);
}
